.forecast-display {
  align-self: center;
  padding: 0 3rem;
  outline: none;
  color: #f3f3f4;
}

.item {
  display: grid;
  align-items: center;
  text-align: center;
  font-size: calc(12px + 1vw);

  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 30px;
}

.block {
  display: block;
}

.icon {
  justify-content: center;
}
