.weather-display {
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #F3F3F4;

  grid-auto-rows: 1fr 35% 15%;
}

.temp {
  align-self: end;
  text-align: center;
  font-size: calc(16px + 10vw);
}

.locality {
  align-self: start;
  padding: 0 3rem;
  color: #4A5859;
  font-size: calc(16px + 3vw);
}
